# General
.DS_Store
.idea/

# Visual Studio Code
.vscode/
*.code-workspace

# Android Studio
*.iml
.gradle/
/local.properties
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/

# IntelliJ IDEA
*.iml
.idea/
*.iws
*.ipr
/out/
